[Desktop Entry]
Encoding=UTF-8
Name=Bezier Clock
Icon=preferences-system-time
Type=Service
ServiceTypes=Plasma/Wallpaper

X-KDE-PluginInfo-Name=ru.exlmoto.bezierclock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=Serg Koles
X-KDE-PluginInfo-Email=exlmotodev@gmail.com
X-KDE-PluginInfo-Website=http://exlmoto.ru/bezier-clock
X-KDE-PluginInfo-License=MIT

X-Plasma-MainScript=ui/main.qml
