[Desktop Entry]
Encoding=UTF-8
Name=Bezier Clock
Name[bs]=Bezier Clock
Name[ca]=Bezier Clock
Name[ca@valencia]=Bezier Clock
Name[cs]=Bezier Clock
Name[da]=Bezier Clock
Name[de]=Bezier Clock
Name[el]=Bezier Clock
Name[en_GB]=Bezier Clock
Name[es]=Bezier Clock
Name[et]=Bezier Clock
Name[fi]=Bezier Clock
Name[fr]=Bezier Clock
Name[gl]=Bezier Clock
Name[hu]=Bezier Clock
Name[it]=Bezier Clock
Name[kk]=Bezier Clock
Name[ko]=Bezier Clock
Name[lt]=Bezier Clock
Name[mr]=Bezier Clock
Name[nb]=Bezier Clock
Name[nds]=Bezier Clock
Name[nl]=Bezier Clock
Name[nn]=Bezier Clock
Name[pl]=Bezier Clock
Name[pt]=Bezier Clock
Name[pt_BR]=Bezier Clock
Name[ro]=Bezier Clock
Name[ru]=Bezier Clock
Name[sk]=Bezier Clock
Name[sl]=Bezier Clock
Name[sr]=Bezier Clock
Name[sr@ijekavian]=Bezier Clock
Name[sr@ijekavianlatin]=Bezier Clock
Name[sr@latin]=Bezier Clock
Name[sv]=Bezier Clock
Name[tr]=Bezier Clock
Name[uk]=Bezier Clock
Name[wa]=Bezier Clock
Name[x-test]=xxBezier Clockxx
Name[zh_CN]=Bezier Clock
Name[zh_TW]=Bezier Clock

Type=Service
ServiceTypes=Plasma/Wallpaper
Icon=preferences-system-time
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Serg Koles
X-KDE-PluginInfo-Email=exlmotodev@gmail.com
X-KDE-PluginInfo-Name=ru.exlmoto.bezierclock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://exlmoto.ru/bezier-clock
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
